ion-item:hover {
  background-color: #f0f0f0; /* Gris léger pour le survol */
}

ion-item:active {
  background-color: #d0d0d0; /* Gris plus foncé pour le clic */
}

.highlighted {
  border: 2px solid #3dc2ff63; /* Bleu pour exposition notable */
  box-shadow: 0 4px 8px rgba(61, 194, 255, 0.24); /* Ombre douce */
  transition: all 0.3s ease; /* Transition pour un effet doux */
  padding: 10px; /* Un peu de padding */
  margin: 5px; /* Un petit margin pour tranche avec les autres éléments */
}
