<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button tab="bed" *ngIf="pageTitle === 'Tâches'">
          <ion-icon name="bed"></ion-icon>
          <a routerLink="/taskTab">Tâches</a>
        </ion-tab-button>
        <ion-tab-button tab="home" *ngIf="pageTitle === 'Tâches'">
          <ion-icon name="home"></ion-icon>
          Foyer
        </ion-tab-button>
        <ion-tab-button tab="bar-chart" *ngIf="pageTitle === 'Tâches'">
          <ion-icon name="bar-chart"></ion-icon>
          Statistique
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>