ion-content {
    display: flex;
    margin: auto;  
    .container {
        width: 340px;
        margin: auto;  
        justify-content: center;
        margin-top: 2em;
        padding-left: 2px;
        padding-right: 2px;
    }
  }