<ion-content>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <ion-item lines="full">
        <ion-input formControlName="pseudo" type="text" placeholder="Pseudo"></ion-input>
      </ion-item>
      <div *ngIf="f['pseudo'].touched && f['pseudo'].errors" style="color: red; margin-left: 15px;">
        <div *ngIf="f['pseudo'].errors['required']">Le pseudo est requis.</div>
        <div *ngIf="f['pseudo'].errors['pattern']">Le pseudo doit avoir entre 5 et 20 caractères et peut inclure des lettres, des chiffres, des tirets et des underscores.</div>
      </div>

      <ion-item lines="full">
        <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
      </ion-item>
      <div *ngIf="f['email'].touched && f['email'].errors" style="color: red; margin-left: 15px;">
        <div *ngIf="f['email'].errors['required']">L'email est requis.</div>
        <div *ngIf="f['email'].errors['email']">Veuillez entrer un email valide.</div>
      </div>

      <ion-item lines="full">
        <ion-input formControlName="password" type="password" placeholder="Mot de passe"></ion-input>
      </ion-item>
      <div *ngIf="f['password'].touched && f['password'].errors" style="color: red; margin-left: 15px;">
        <div *ngIf="f['password'].errors['required']">Le mot de passe est requis.</div>
        <div *ngIf="f['password'].errors['pattern']">Le mot de passe doit contenir au moins 8 caractères, incluant des lettres et des chiffres.</div>
      </div>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">S'inscrire</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
