<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tâche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tâche</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid [fixed]="true" class="ion-grid">
    <ion-row *ngFor="let task of listOfTasks">
      <ion-col size="3"><ion-button expand="block" color="primary" disabled="true">{{task.name}}</ion-button></ion-col>
      <ion-col size="1"><ion-button size="1" color="primary"
          (click)="incrementTaskValueOnClick(task.name)">+</ion-button></ion-col>
      <ion-col size="1"><ion-button size="1" color="secondary" fill="outline"
          (click)="decrementTaskValueOnClick(task.name)">-</ion-button></ion-col>
      <ion-col size="1"><ion-button size="1" color="secondary" fill="outline">{{task.value}}</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-datetime #dateTime show-clear-button="true" value="{{ today | date:'yyyy-MM-dd' }}" presentation="date"
    [preferWheel]="true" style=" display: block; margin-left: auto; margin-right: auto;">
    <div slot="buttons">
      <ion-button (click)="onClearButtonClicked()">Clear</ion-button>
      <!-- <ion-button (click)="onOkayButtonClicked()">OK</ion-button> -->
    </div>
  </ion-datetime>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>