<form [formGroup]="taskForm" (submit)="submitForm()">
  <div [ngStyle]="{'border': hidden === false ? '0.05em solid white' : 'none', 'margin': '0em'}">
    <!-- Three lines for each task -->
    <!-- Line one, used to register the delay tasks -->
    <ion-row>
      <ion-col size="3"><ion-button expand="block" color="primary" class="custom-button"
          (click)="openEditTask()">{{task.name}}
        </ion-button>
      </ion-col>
      <ion-col size="1"><ion-button size="1" color="primary" [disabled]="hidden === false"
          (click)="incrementTaskValueOnClick()">+</ion-button>
      </ion-col>
      <ion-col size="1"><ion-button size="1" color="secondary" [disabled]="hidden === false" fill="outline"
          (click)="decrementTaskValueOnClick()">-</ion-button>
      </ion-col>
      <ion-col size="1"><ion-button size="1" color="secondary" fill="outline"
          class="fixed-size-button">{{count}}</ion-button>
      </ion-col>
    </ion-row>
    <!-- Line two, to edit task (name, pt ), hidden without edition -->
    <div *ngIf="hidden === false" [formGroup]="taskForm">
      <ion-row>
        <ion-col size="2">
          <ion-input label="Renommer" label-placement="floating" fill="outline" maxlength="20"
            placeholder="Entrer nouveau nom" formControlName="taskName" (ionInput)="onNameInputChange($event)"
            name="taskNewName">
          </ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-select [(ngModel)]="task.difficulty" [ngModelOptions]="{standalone: true}"
              (ionChange)="onDifficultyChange($event)" interface="popover" label="Difficulté :" name="task.difficulty">
              <ion-select-option *ngFor="let value of fibonacciValues" [value]="value">{{ value }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="1">
          <ion-button color="{{checkmarkColor}}" type="button">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</form>