<!-- tasks.component.html -->
<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="contener">

    <ng-container *ngIf="!isLoading; else loading">
      <ion-item button (click)="openHearthSelectionModal()">
        <ng-container *ngIf="(selectedHearth$ | async) as selectedHearth">
          <app-hearth-line [hearth]="selectedHearth" [displayOptions]="false"></app-hearth-line>
        </ng-container>
        <ion-icon name="caret-down-outline" slot="start"></ion-icon>
      </ion-item>

      <!-- New Progress Chart Component -->
      <ng-container *ngIf="(selectedHearth$ | async) as selectedHearth">
        <app-progress-chart [hearthId]="selectedHearth.id"></app-progress-chart>
      </ng-container>

      <!-- List of tasks availables and them counts -->
      <ion-grid [fixed]="true" class="ion-grid">
        <ng-container *ngFor="let task of listOfTasks">
          <app-task [task]="task" [count]="taskCountsToday[task.id] || 0"
            (taskUpdated)="updateTaskCount($event)"></app-task>
        </ng-container>
      </ion-grid>

      <ion-grid class="custom-grid" *ngIf="hiddenCreateTask === true">
        <ion-row class="custom-row">
          <ion-col class="ion-text-center" size="6">
            <ion-fab>
              <ion-fab-button (click)="openAddTaskModal()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-container>
    <ng-template #loading>
      <ion-spinner></ion-spinner>
    </ng-template>
  </div>
</ion-content>