<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="contener">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tâche</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Bouton pour changer de foyer -->
    <ion-item button (click)="openHearthSelectionModal()">
      <app-hearth-line [hearth]="selectedHearth" [displayOptions]="false"></app-hearth-line>
      <ion-icon name="caret-down-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-grid [fixed]="true" class="ion-grid">
      <ng-container *ngFor="let task of listOfTasks">
        <app-task [id]="task.id" [difficulty]="task.difficulty" [duration]="task.duration" [point]="task.point"
          [value]="task.value" [name]="task.name" (taskSubmitted)="updateTask($event)"></app-task>
      </ng-container>
    </ion-grid>

    <ion-grid class="custom-grid" *ngIf="hiddenCreateTask === true">
      <ion-row class="custom-row">
        <ion-col class="ion-text-center" size="6">
          <ion-fab>
            <ion-fab-button (click)="onClickButtonCreate()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="custom-grid" *ngIf="hiddenCreateTask === false">
      <div
        [ngStyle]="{ 'margin': '1em', 'width': '80%', 'max-width': '500px', 'display':'flex','justify-content': 'center'}">
        <ion-fab-button (click)="onClickButtonCreate()">
          <ion-icon name="chevron-up"></ion-icon>
        </ion-fab-button>
      </div>
      <div
        [ngStyle]="{'border': hiddenCreateTask === false ? '0.05em solid white' : 'none', 'margin': '1em', 'width': '80%', 'max-width': '500px'}">
        <!-- Create task (time and difficulty), hidden without creation -->
        <ion-row class="createTaskRow">
          <ion-col size="5"><ion-input label="Nommer la nouvelle tâche" label-placement="floating" fill="outline"
              maxlength="20" placeholder="Entrer nouveau nom" [(ngModel)]="taskNewName" name="taskNewName"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="createTaskRow">
          <ion-col size="6">
            <!-- Difficulty (difficulty) -->
            <ion-range aria-label="Chiantisse" label="Chiantise" [(ngModel)]="newTaskdifficulty" name="taskdifficulty"
              (ionChange)="updateTaskPoint()"></ion-range>
          </ion-col>
        </ion-row>
        <ion-row class="createTaskRow">
          <ion-col size="6">
            <!-- Time (duration) -->
            <ion-range aria-label="Temps" label="Temps passé" [(ngModel)]="newTaskDuration" name="taskDuration"
              (ionChange)="updateTaskPoint()"></ion-range>
          </ion-col>
        </ion-row>
        <!-- Line three, to edit task (name, pt, validation ), hidden without edition -->
        <ion-row>
          <ion-col size="1"><ion-button size="1" color="primary">{{newTaskPoint}}</ion-button></ion-col>
          <ion-col size="1">
            <ion-button color="primary" type="submit">
              <!-- <ion-icon slot="start" name="checkmark"></ion-icon> -->
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <!-- <ion-grid>
    <ion-row>
      <ion-datetime #dateTime show-clear-button="true" value="{{ today | date:'yyyy-MM-dd' }}" presentation="date"
        [preferWheel]="true" style="display: block; margin-left: auto; margin-right: auto">
        <div slot="buttons">
          <ion-button (click)="onClearButtonClicked()">Clear</ion-button>
          <ion-button (click)="onOkayButtonClicked()">OK</ion-button>
        </div>
      </ion-datetime>
    </ion-row>
  </ion-grid> -->
  </div>
</ion-content>