
<ion-content class="auth-form">
  <div class="contener">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/register']" expand="block" color="primary">S'enregistrer</ion-button>
          <!-- <span class="divider line one-line">or</span> -->
          <div class="separator">Ou</div>
          <div style="text-align: center; margin-bottom: 0.5em;">
            <span class="already">Déjà utilisateur ?</span>
          </div>
          <ion-button [routerLink]="['/login']" expand="block" color="secondary">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
