<app-header></app-header>
<ion-content class="ion-padding">
  <div class="contener">
    <h1>Mon profil</h1>
    <form [formGroup]="accountForm" (ngSubmit)="updateProfile()">
      <!-- Avatar -->
      <div class="avatar-section">
        <div class="avatar-container">
          <ng-container *ngIf="userAvatar$ | async as userAvatar">
            <img [src]="avatarService.getAvatarPathFromName(userAvatar) | async" alt="avatar" class="avatar">
          </ng-container>
          <div (click)="openEditAvatarModal()">
            <ion-icon name="pencil-outline" style="color:white"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Username -->
      <ion-item>
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <!-- Current Password -->
      <ion-item>
        <ion-label position="floating">Mot de passe actuel</ion-label>
        <ion-input [type]="showCurrentPassword ? 'text' : 'password'" formControlName="currentPassword"></ion-input>
        <ion-button fill="clear" slot="end" (click)="toggleCurrentPasswordVisibility()">
          <ion-icon [name]="showCurrentPassword ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
        </ion-button>
      </ion-item>

      <!-- New Password -->
      <ion-item>
        <ion-label position="floating">Nouveau mot de passe</ion-label>
        <ion-input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"></ion-input>
        <ion-button fill="clear" slot="end" (click)="toggleNewPasswordVisibility()">
          <ion-icon [name]="showNewPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!accountForm.valid">Enregistrer les modifications</ion-button>
    </form>
  </div>
</ion-content>