<ion-content>
  <div class="contener">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <ion-item lines="full">
        <ion-input type="text" required formControlName="email" name="email" label="Email"></ion-input>
        <!-- <ion-input type="text" required label="Email" [(ngModel)]="email" name="email"></ion-input> -->
      </ion-item>
      <!-- Si touché mais null ou invalide alors message erreur -->
      <ion-text *ngIf="this.emailControl?.touched && this.emailControl?.value !== null && !this.emailControl?.valid" color="danger">
        L'email est obligatoire et doit être valide.
      </ion-text>
      <ion-item lines="full">
        <ion-input type="password" required label="Mot-de-passe" formControlName="password" name="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button class="ion-margin-top ion-margin-bottom" type="submit" color="danger" expand="block">Connexion</ion-button>
          <a routerLink="/forgot-password" class="small-text">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
