<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="contener">
    <ion-list>
      <ng-container *ngFor="let hearth of hearthList$ | async">
        <ion-item>
          <app-hearth-line [hearth]="hearth"></app-hearth-line>
        </ion-item>
      </ng-container>
      <ion-item>
        <!-- TODO: Bouton modal création nouveau foyer -->
        <ion-button size="default" shape="default" (click)="addNewHearth()">
          <span> Ajouter un foyer </span>
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>


  </div>
</ion-content>