<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let heart of hearthList">
      <!-- TODO: Afficher l'image du foyer : image par défaut / perso -->
      <!-- Afficher le nom -->
      <div>{{heart.name}}</div>
      <!-- TODO: Afficher les icones des participants-->
      <!-- TODO: Bouton modal pour inviter une personne -->
      <!-- TODO: Bouton modal pour paramètres du foyer -> Modif image | coef utilisateur | supprimer utilisateur | supprimer foyer-->
    </ion-item>
  </ion-list>
  <!-- TODO: Bouton modal création nouveau foyer -->
</ion-content>