<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hearts">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Foyers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tasktab">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Tâches</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
