<div class="container">
  <!--  Afficher l'image du foyer avec le nom : image par défaut / perso -->
  <div class="hearthImage">
    <img [src]="imagePath$ | async">
    <span class="hearth-name">{{hearth.name}}</span>
  </div>
  <div class="participantsContener">
    <!-- Affiche les icons des participants-->
    <div class="hearthAvatarImage" *ngFor="let hearthUser of hearth.hearthUsers">
      <img [src]="avatarService.getAvatarPathFromName(hearthUser.avatar!) | async" alt="{{ hearthUser.name }}">
      <span class="user-name">{{ hearthUser.name }}</span>
    </div>

    <!--  Bouton modal pour inviter une personne -->
    <div *ngIf="displayOptions" class="hearthAvatarImage">
      <ion-button fill="clear" (click)="openInviteModal()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!--  Bouton modal pour paramètres du foyer -> Modif image | coef utilisateur | supprimer utilisateur | supprimer foyer-->
  <!-- Ajout du bouton réglages -->
  <div *ngIf="displayOptions" class="hearthSettings">
    <ion-button fill="clear" (click)="openEditHeathModal()">
      <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>


</div>