<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tâche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tâche</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>Vaisselle</ion-col>
      <ion-col><ion-button>+</ion-button></ion-col>
      <ion-col><ion-button fill="outline">-</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
